.template-Container{
    border: 1px solid #e1e1e1;
    padding: 2rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    background-color: white;

        &__Items{
            margin: 0.7rem !important;
        }

        &__Title{
            width: 30rem;
        }

        &__Question{
            width: 100%;
        }

        Button{
            width: 14.5rem;
        }

        section{
            border: 1px dotted #f7407d;
            padding: 2rem;
            margin: 1rem;
        }
    
  
}